---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
const posts = await getCollection('blog');

// 1. Agafem els posts i els ordenem de més nou a més vell
const allPosts = await getCollection('blog');
const posts = allPosts.sort((a, b) => {
  return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
});

---

<MainLayout 
  title="Blog | SAXONARA" 
  description="News & Events by SAXONARA"
>
  <div class="container section-padding">
    <h1>Welcome to my Saxophonist Blog</h1>
    <ul class="list-unstyled">
      {posts.map(post => (
        <li style="margin-bottom: 20px;">
          <a href={`/life/blog/${post.id || post.slug}/`} style="font-size: 1.2em; font-weight: bold;">
            {post.data.title}
          </a>
          <p>{post.data.description}</p>
        </li>
      ))}
    </ul>
  </div>
</MainLayout>